Package: dvkbuntu-skel
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 324
Section: misc
Priority: important
Homepage: https://discord.gg/FtsNjjC
Description: Ubuquity pour DVKBuntu
 <insert long description, indented with spaces>
