Package: dvkbuntu-logo
Version: 1.0-1
Architecture: amd64
Maintainer: Steeve Le Gal <toulibre@gmail.com>
Installed-Size: 3918
Section: misc
Priority: important
Homepage: https://discord.gg/FtsNjjC
Description: DVKBUNTU Wallpaper Logo
 <insert long description, indented with spaces>
