Package: dvkbuntu-cursors
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 5282
Section: misc
Priority: important
Homepage: https://www.dvkbuntu.org/
Description: DVKBUNTU Curseur de Souris adpaté aux malvoyants
 <insert long description, indented with spaces>
