Package: dvkbuntu-plasma-theme
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 437
Depends: kubuntu-desktop, dvkbuntu-menu-acceuil
Section: misc
Priority: optional
Homepage: https://discord.gg/FtsNjjC
Description: DVKBUNTU Plasma theme
 <insert long description, indented with spaces>
