Package: dvkbuntu-menu-acceuil
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 1041
Depends: gnome-orca, kmag
Section: misc
Priority: important
Homepage: https://www.dvkbuntu.org/
Description: DVKBUNTU Menu d'Acceuil
 <insert long description, indented with spaces>
