Package: dvkbuntu-rose-rosee
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 38668
Section: misc
Priority: important
Homepage: https://discord.gg/FtsNjjC
Description: DVKBUNTU Wallpaper Rose Rosée
 <insert long description, indented with spaces>
