Package: dvkbuntu-xanmod
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 14
Section: misc
Priority: important
Homepage: https://www.dvkbuntu.org/
Description: DVKBUNTU reglages Noyau Xanmod.
 <insert long description, indented with spaces>
