Package: dvkbuntu-regard
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 30035
Section: misc
Priority: important
Homepage: https://discord.gg/FtsNjjC
Description: DVKBUNTU Wallpaper Regard
 <insert long description, indented with spaces>
