Package: dvkbuntu-kinfocenter
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 1953
Depends: kinfocenter, dvkbuntu-luciole-font
Section: misc
Priority: important
Homepage: https://discord.gg/FtsNjjC
Description: info systeme dvkbuntu
 <insert long description, indented with spaces>
