Package: dvkbuntu-flamme
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 33289
Section: misc
Priority: optional
Homepage: https://discord.gg/FtsNjjC
Description: DVKBUNTU Wallpaper Flamme
 <insert long description, indented with spaces>
