Package: ubiquity-slideshow-dvkbuntu
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 2917
Depends: python3-pyqt5.qtsvg, python3-pyqt5.qtwebkit
Replaces: ubiquity-slideshow-kubuntu
Section: misc
Priority: important
Homepage: https://discord.gg/FtsNjjC
Description: Ubiquity Slideshow pour DVKBuntu
 <insert long description, indented with spaces>
