Package: dvkbuntu-vortex
Version: 1.0-1
Architecture: amd64
Maintainer: Paul WOISARD <paulwoisard@gmail.com>
Installed-Size: 29814
Section: misc
Priority: important
Homepage: https://discord.gg/FtsNjjC
Description: DVKBUNTU Wallpaper Vortex
 <insert long description, indented with spaces>
